.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 30%;
  padding: 20px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

html,body{
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}