.row {
  display: flex;
  flex: 20%
  flex-wrap: wrap;
  padding: 20px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.containerr {
 position: relative;
}

.column img {
  margin-top: 8px;
  padding: 20px;
  vertical-align: middle;
}

html,body{
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}