<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %} | Quiz-Hunt
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth/login.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="custom-navbar justify-content-around">

    <a href="{{ url_for('index') }}">
        <img id='logo' src="https://image.flaticon.com/icons/svg/2473/2473139.svg" alt="">
    </a>

    <div>
        <a href="{{ url_for('about_us') }}">
        <button class="btn custom_btn" type="button">About</button>
        </a>
    </div>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('polls.create_poll') }}">
        <button class="btn custom_btn" type="button">Create</button>
    </a>
    <a href="{{ url_for('chat') }}">
                <button class="btn custom_btn" type="button">Chat</button>
            </a>
    {% endif %}
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}">
                <button class="btn custom_btn" type="button">Login</button>
            </a>
            <div>
                <a href="{{ url_for('auth.register') }}">
                    <button class="btn custom_btn" type="button">Register</button>
                </a>
            </div>
        {% else %}
            <a href="{{ url_for('auth.logout') }}">
                <button class="btn custom_btn" type="button">Log Out</button>
            </a>
    {% block button %}

    {% endblock %}
     <div style="color: white;">
    <p>{{ current_user }}</p>
        </div>
        {% endif %}
    </div>

</div>
{% block body %}

{% endblock %}
</body>
</html>