<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='polls/poll_creation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='polls/style.css ') }}"></link>
</head>


<body>
<template>
    <li class='answer-item'>
        <input type="text" id="title-option" class="answer-option" placeholder="">
    </li>
</template>

<div class="container">

    <div class="row"><br><br>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="loader">

                <div id="quiz">
                    <div class="question">
                        <h3>
                            <span class="label label-warning" id="qid">1</span>
                            <input type="text" id="title-input" placeholder="Enter title here">
                            <img id='add-option' src="{{ url_for('static', filename='polls/images/plus.svg') }}" alt="Add answer option">
                            <img id='add-question' src="{{ url_for('static', filename='polls/images/next-question.svg') }}" alt="Add question">
                            <img id='create-poll' src="{{ url_for('static', filename='polls/images/create-poll.svg') }}" alt="Add question">
                        </h3>
                    </div>

                    <ul>
                        <li id='item'>
                            <input type="text" id="title-question" placeholder="Enter question here">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-muted">
                <span id="answer"></span>
            </div>

        </div>
    </div>
</div>
</body>
</html>
