<html>z
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='polls/style.css') }}">
<script src="{{ url_for('static', filename='polls/poll_completion.js ') }}"></script>
    <script>
        let questions = {{ data|tojson  }}
    </script>
</head>


<body>
<template>
    <li id='item'>
        <input type="radio" id="option" name="selector" value="1">
        <label for="option" class="element-animation">/*-- comment --*/</label>
        <div class="check"></div>
    </li>
</template>

<div class="container">

        <div class="row"><br><br>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="loader">

                    <div id="quiz">
                        <div class="question">
                            <h3><span class="label label-warning" id="qid">1</span>
                            <span id="question"> How can you add a single line comment in a JavaScript?</span>
                            </h3>
                        </div>

                        <ul>


                        </ul>
                    </div>
                </div>
                <div class="text-muted">
                    <span id="answer"></span>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
